html {
  position: relative;
  /*min-height: 100%;*/
  margin-top: 3vh;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.helptext {
	font-size: 10px;
	width: 100%;

}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #e2e2e2;
  padding-top: .5rem;
}

.footer_icon {
  height: 3vh;
}

.copyright_info {
  color: DarkGray;
  margin-bottom: 0;
}
