body{
   min-width:315px; // Suppose you want minimum width of 315px
   _width: expression( document.body.clientWidth > 315 ? "315px" : "auto" ); /* sets max-width for IE6 */
   background-image: url("../media/farmland.jpg");
   font-family: 'Montserrat', sans-serif;
}

#see_stories_link,
#register_link {
	color: black;
	text-decoration: underline;
}

.p_font_size {
	font-size: 1.45rem;
	font-weight: 545;
}


@media only screen and (min-width: 768px) {

	.container-fluid {
		padding-right: 25%;
		padding-left: 25%;
	}

}