#publish_nav_link{
	cursor: pointer;
}

@media only screen and (min-width: 768px) {
	#navbar {
		height: 6%;
	}

	#nav_publish_button {
		display: inline;
		background: rgb(49, 55, 62); 
		background-color: rgb(49, 55, 62);
	}
}
