body{
   min-width:315px; // Suppose you want minimum width of 315px
   _width: expression( document.body.clientWidth > 315 ? "315px" : "auto" ); /* sets max-width for IE6 */
   /*background: #f2e5f2; */
}

/*#nav_publish_button {
	display: none;
}*/

#nav_publish_button {
	display: inline;
	background: rgb(49, 55, 62); 
	background-color: rgb(49, 55, 62);
}

#mobile_publish_button {
	margin-left: 84vw;
	margin-bottom: 4vh;
}

#a_story_author{
	color: black;
}

#a_story_author:hover {
    text-decoration: none;
}

#a_story_title {
	font-weight: bold;
}

#a_story_title:hover {
	text-decoration: underline;
    color: black;
}


@media only screen and (min-width: 768px) {

	#mobile_publish_button {
		display: none;
	}

}