{% load static from staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@dev_mike_del" />
      <meta name="twitter:title" content="World Story Board" />
      <meta name="twitter:description" content="This is the World Story Board!" />
      <meta name="twitter:image" content="https://s3-us-west-2.amazonaws.com/world-story-board-twitter-card-img/rsz_screen_shot_2018-08-13_at_33509_pm.jpg" />

      {% block static %}
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      {% endblock static %}

      <title>{% block title %}{% endblock title %}</title>

  </head>
  <body class="mt-5 pt-3">
    <div class="container-fluid">

      {% block nav %}
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'stories:story_list' %}">Story Board</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
              {% if user.is_authenticated %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'stories:author_story_list' author_slug=user %}"> {{ user }} <span class="sr-only">(current)</span></a>
              </li>
              {% else %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'accounts:login' %}"> Login </a><span class="sr-only">(current)</span>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'stories:about' %}"> About </a><span class="sr-only">(current)</span>
              </li>
              {% endif %}
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  {% if user.is_authenticated %}
                  <a class="dropdown-item" href="{% url 'stories:following_story_list' %}">Following</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'accounts:register' %}">Register</a>
                  {% endif %}
                  {% if user.is_authenticated %}
                  <a class="dropdown-item" href="{% url 'stories:about' %}">About</a>
                  <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                  {% endif %}
                </div>
              </li>
              <li class="nav-item active">
                <a id="nav_publish_button" type="button" class="btn-small btn-dark nav-link" data-toggle="modal" data-target="#exampleModalCenter"> Publish </a><span class="sr-only">(current)</span>
              </li>
            </ul>
            <form class="form-inline my-2 my-md-0" hidden>
              <input class="form-control" type="text" placeholder="Search">
            </form>
          </div>
        </nav>
      {% endblock nav %}

      {% block page_header %}
      {% endblock page_header %}
      
      {% block content %}
      {% endblock content %}

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="POST">
              {% csrf_token %}
              {{ form.non_field_errors }}

                <div class="form-group">

                  {{ form.title.errors }}
                  <label for="recipient-name" class="col-form-label">Title:</label>

                  {{ form.title }}

                </div>

                <div class="form-group">

                  {{ form.body.errors }}
                  <label for="{{ form.body.id_for_label }}" class="col-form-label">Body:</label>
                  {{ form.body }}

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input name="publish" type="submit" value="Publish" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      

      {% block scripts %}
      </div> <!-- container -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      {% endblock scripts %}
    
    {% block footer %}
    {% endblock footer %}
  </body>
</html>