{% extends "accounts/accounts_layout.html" %}
{% load static from staticfiles %}

{% block static %}
{{ block.super }}
    <link href="{% static 'accounts/css/register.css' %}" rel="stylesheet" type="text/css" media="all">
{% endblock static%}

{% block nav_publish_button %}
{% endblock nav_publish_button %}

{% block content %}
    <div class="login text-center">

         {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
            <h1>{% block auth_title %}Register{% endblock auth_title%} - Story Board</h1>

             <form class="d-flex justify-content-center" method="post" >
             {% csrf_token %}
                <table>
                {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td><input class="login_button mt-3" type="submit" name="submit" value="Login" /></td>
                    </tr>
                </table>
             </form>
     </div>

{% endblock %}


{% block footer %}

<!--     <footer class="footer text-center px-5">
            <div class="col-12 text-muted">
                <small>
                    © 2018 Copyright: Michael Delgado
                </small>
            </div>
        </div>
    </footer> -->


    <footer class="row mr-0 ml-0 footer">
           
            <div class="col text-center pr-0 pl-0">
                <a href="https://github.com/dev-mike-del" target="_blank" title="Github"><img class="footer_icon" src="{% static 'stories/media/github_icon.png'%}" alt="icon"></a>
            </div>
            <div class="col text-center pr-0 pl-0">
                <a href="https://www.linkedin.com/in/mike-del/" target="_blank" title="LinkedIn"><img class="footer_icon" src="{% static 'stories/media/linkedin_icon.png'%}" alt="icon"></a>
            </div>
            <div class="col text-center pr-0 pl-0">
                <a href="http://www.twitter.com/dev_mike_del" target="_blank" title="Twitter"><img class="footer_icon" src="{% static 'stories/media/twitter_icon.svg'%}" alt="icon"></a>
            </div>
        

            <div class="col-12 text-center pr-0 pl-0">
                <p class="text-center copyright_info"><small>&copy;{% now "Y" %} Michael Delgado. All Rights Reserved</small></p>
            </div>

        </footer>

{% endblock footer %}