{% extends "layout.html" %}
{% load static from staticfiles %}

{% block static %}
{{ block.super }}
    <link href="{% static 'stories/css/about.css' %}" rel="stylesheet" type="text/css" media="all">
{% endblock static%}


{% block content %}
	<div class="row pt-3 pl-3">
		<div class="col-12 text-center">
			<h1>
				About
			</h1>
		</div>
	</div>
	<div class="row pb-5 pb-md-1">
		<div class="col-3 pt-5">
			<h4>
				Welcome!
			</h4>
		</div>
		<div class="col-12 pl-4">
			<div class="col-lg">
				<p>
					Story Board is a platform for creating and publishing stories. A story is anything from an actual full length fictional story to the story of your day or anything else that you wish to publish. You can pushlish a story with a user account or you can create an anonymous story. 
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md pt-md-5 pl-4">
			<h5>
				Create an Account:
			</h5>
			<p>
				With an account, you can publish a story with a by line, view all of your published stories on your profile page, recommend stories and follow other authors.<br> <a href="{% url 'account:register' %}"><small id="register_link">register</small></a>
			</p>
		</div>
		<div class="col-md pt-md-5 pl-4">
			<h5>
				Publish without an Account:
			</h5>
			<p>
				Without an account, you can publish a story without a by line. You can view other author's profile pages but you can not follow them or recommend thier stories. <br> <a href="{% url 'stories:story_list' %}"><small id="see_stories_link">see stories</small></a>
			</p>
		</div>

	</div>
{% endblock content %}