{% load static from staticfiles %}

<!doctype html>
<html lang="en">
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- About page Twitter card info -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@dev_mike_del" />
<meta name="twitter:title" content="World Story Board" />
<meta name="twitter:description" content="This is a project by Michael Delgado. It's built with Python, Django, PostgreSQL, AWS." />
<meta name="twitter:image" content="https://s3-us-west-2.amazonaws.com/world-story-board-twitter-card-img/about_image_for_twitter.png" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- favicon -->
<link rel="shortcut icon" type="image/png" href="{% static 'stories/media/favicon.ico' %}"/>
<!-- Layout CSS -->
<link href="{% static 'stories/css/layout.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="https://fonts.googleapis.com/css?family=Oswald:500|Staatliches" rel="stylesheet">
<link href="{% static 'stories/css/about.css' %}" rel="stylesheet" type="text/css" media="all">

<title></title>

</head>

<body >

    <div class="container-fluid pl-0 pr-0" >

        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark" id="navbar">
            <a class="navbar-brand" href="{% url 'stories:story_list' %}">Story Board</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'stories:author_story_list' author_slug=user|slugify %}"> {{ user }} <span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'accounts:login' %}"> Login </a><span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'stories:about' %}"> About </a><span class="sr-only">(current)</span>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'stories:following_story_list' %}">Following</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'accounts:register' %}">Register</a>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'stories:about' %}">About</a>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-md-0" hidden>
                    <input class="form-control" type="text" placeholder="Search">
                </form>
            </div>
        </nav>

        <div id="first_bg" class="row mr-0 ml-0">
            <div class="col">
                <p id="first_about_p1" class="text-center">Michael Delgado</p>
                <p id="first_about_p2" class="text-center">project: World Story Board</p>
            </div>
        </div>

        <div id="second_bg" class="row mr-0 ml-0">
            <div class="col">
                <p id="second_about_p">Features</p>
                <ul id="features_list">
                    <li class="about_list_li">Register</li>
                    <li class="about_list_li">Profile Page</li>
                    <li class="about_list_li">Create, Edit & Publish</li>
                    <li class="about_list_li">Publish without an account</li>
                    <li class="about_list_li">Unpublish Story(with account)</li>
                    <li class="about_list_li">Follow Authors(with account) </li>
                    <li class="about_list_li">Recommend Stories(with account)</li>
                </ul>
            </div>
        </div>

        <div id="third_bg" class="row mr-0 ml-0">
            <div class="col">
                <p id="third_about_p">Built With:</p>
                <ul id="built_with_list">
                    <li class="about_list_li">Python (programmnig language)</li>
                    <li class="about_list_li">Django (web framework)</li>
                    <li class="about_list_li">PostgreSQL (database)</li>
                    <li id="last_about_list_li" class="about_list_li">AWS (cloud host)</li>
                </ul>
            </div>
        </div>

        <footer id="about_footer" class="row mr-0 ml-0">
           
            <div class="col text-center pr-0 pl-0">
                <a href="https://github.com/dev-mike-del" target="_blank" title="Github"><img class="footer_icon" src="{% static 'stories/media/github_icon.png'%}" alt="icon"></a>
            </div>
            <div class="col text-center pr-0 pl-0">
                <a href="https://www.linkedin.com/in/mike-del/" target="_blank" title="LinkedIn"><img class="footer_icon" src="{% static 'stories/media/linkedin_icon.png'%}" alt="icon"></a>
            </div>
            <div class="col text-center pr-0 pl-0">
                <a href="http://www.twitter.com/dev_mike_del" target="_blank" title="Twitter"><img class="footer_icon" src="{% static 'stories/media/twitter_icon.svg'%}" alt="icon"></a>
            </div>
        

            <div class="col-12 text-center pr-0 pl-0">
                <p id="copyright_info" class="text-center"><small>&copy;{% now "Y" %} Michael Delgado. All Rights Reserved</small></p>
            </div>

        </footer>

        <!-- Pop UP Modal (hidden until user clicks the Publish button-->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            <div class="form-group">

                                {{ form.title.errors }}
                                <label for="recipient-name" class="col-form-label">Title:</label>

                                {{ form.title }}

                            </div>

                            <div class="form-group">

                                {{ form.body.errors }}
                                <label for="{{ form.body.id_for_label }}" class="col-form-label">Body:</label>
                                {{ form.body }}

                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input name="publish" type="submit" value="Publish" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
