{% extends "stories/story_list.html" %}
{% load static from staticfiles %}


{% block page_header %}
  <div class="card text-center">
    <div class="card-header">
      Author Story Board
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ author }}</h5>
      <p class="card-text" hidden>With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary" hidden>Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      Joined: {{ author.user.date_joined }}
    </div>
  </div>
{% endblock page_header %}


{% block page_button %}
  {% if user.is_authenticated %}
    {% if user == author.user %}
      {{ block.super }}
    {% else %}
      {% if guest_author.user in author.followers.all %}
        <form method="POST" class="row float-right">
        {% csrf_token %}
          <input name="unfollow" type="submit" value="Unfollow" class="btn-small btn-primary mt-5 mr-2 mr-md-0">
        </form>
      {% else %}
        <form method="POST" class="row float-right">
        {% csrf_token %}
          <input name="follow" type="submit" value="Follow" class="btn-small btn-primary mt-5 mr-2 mr-md-0">
        </form>
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock page_button %}
