{% extends "stories/layout.html" %}
{% load static from staticfiles %}

{% block static %}
{{ block.super }}
    <link href="{% static 'stories/css/story_list.css' %}" rel="stylesheet" type="text/css" media="all">
{% endblock static%}

{% block title %}Story Board{% endblock title %}

{% block content %}
	{{ block.super }}
      
  {% block story_list %}
  	<div class="row justify-content-center">

  	        <!-- Bootstrap card start-->
      {% for story in stories %}
      <div class="col-xs m-1">
        <div class="card rounded" style="width: 15rem;">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">

            <!-- Card body start -->
            {% if story.published == False %}
              <h2>DRAFT</h2>
              <p><small><a href="{% url 'stories:author_story_update' story_slug=story.story_slug %}"> edit</small></p>
            {% endif %}
            <h4 class="card-title"> 
              <a id="a_story_title" class="font-italic" data-toggle="modal" data-target="#exampleModalLong_{{ story.id }}" style="cursor: pointer;"> 
                {{ story.title }} 
              </a> 
            </h4>
            {% if story.author %}
            <h6 class="card-subtitle mb-2 text-muted">By: <a id="a_story_author" href="{% url 'stories:author_story_list' story.author|slugify %}">{{ story.author }}</a>
            </h6>
            {% else %}
            <h6 class="card-subtitle text-muted">By: Anonymous
            </h6>
            {% endif %}
            {% if story.is_posted_today %}
            <p class="mb-1"><small>{{story.date_modified |timesince}} ago</small></p>
            {% else %}
            <p class="mb-1"><small>{{story.date_modified |date:"m/d/y"}}</small></p>
            {% endif %}
            <p class="card-text mb-0"> 
              {{ story.body|truncatechars:200 }}
               <!-- Button trigger modal start -->
                <!-- <a class="text-primary font-italic float-right" data-toggle="modal" data-target="#exampleModalLong_{{ story.id }}" style="cursor: pointer;"> <small> View </small> </a> -->
              <!-- Button trigger modal end -->
            </p>
            <!-- Card body end -->
            
            <div class="row pt-2">
              <div class="col-sm">
                <p class="text-center mb-0 pb-0">{{ story.recommendations.count }}</p>
                <p class="text-center mb-0 pb-0"><small> Recommendations </small></p>
              </div>
              <div class="col-sm">
                {% if user.is_authenticated %}
                  {% if user == guest_author.user and user != story.author.user %}
                    {% if guest_author in story.recommendations.all %}
                    <form method="POST" class="btn btn-sm">
                    {% csrf_token %}
                      <button class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Unrecommend">
                      Unrec
                        <input name="unrecommend" type="hidden" value="{{story.id}}" class="btn btn-sm">
                      </button>
                    </form>
                    {% else %}
                    <form method="POST" class="btn btn-sm">
                    {% csrf_token %}
                      <button class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Recommend">
                      Rec
                        <input name="recommend" type="hidden" value="{{story.id}}" class="btn btn-sm">
                      </button>
                    </form>
                    {% endif %}
                  {% endif %}

                  {% if user == story.author.user %}
                    {% if story.published == True %}
                      <form method="POST" class="btn btn-sm">
                      {% csrf_token %}
                        <button class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top">        
                          Recall
                          <input name="recall" type="hidden" value="{{story.id}}" class="btn btn-sm">
                        </button>
                      </form>
                    {% endif %}
                {% endif %}
              {% endif %}
              </div>
            </div>

            <!-- Modal start -->
            <div class="modal fade" id="exampleModalLong_{{ story.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle_{{ story.id }}" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle_{{ story.id }}"> {{ story.title }} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{ story.body }}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal end -->

          </div>
        </div>
      </div>
    {% endfor %}
    <!-- Bootstrap card end-->

	</div>
  {% endblock story_list %}

{% endblock %}