{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}Story Board{% endblock title %}


{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="card">
					{% for story in stories %}
						<div class="card-body">
							<h5 class="card-title">{{ story.title }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ story.author }}</h6>
							<p class="card-text">{{ story.body }}</p>
							<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}